


node_modules/


.env*


.openzeppelin/




cache/
artifacts/


coverage/
coverage.json


typechain-types/


hardhat.config.js.backup





npm-debug.log*
yarn-error.log


.DS_Store
Thumbs.db


.vscode/